<b:define name="shout" type="bool"/>
<b:define name="shrink" type="bool"/>
<b:define name="grow" type="bool"/>
<b:define name="grid" type="bool"/>
<b:define name="black" type="bool"/>
<b:define name="white" type="bool"/>

<section class=":slide :{zero} :{grid} :{white} :{black}" id="{id}">
</section>
