<b:define name="shout" type="bool"/>
<b:define name="shrink" type="bool"/>
<b:define name="grow" type="bool"/>
<b:define name="grid" type="bool"/>
<b:define name="black" type="bool"/>
<b:define name="white" type="bool"/>

<section class="slide {grid} {white} {black}" id="{id}">
  <h2{headerRef} b:show="{showHeader}" class="{shout} {shrink} {grow}">{header}<!--{customHeader}--></h2>
  {body}
  <img b:show="{coverImg}" src="{coverImg}" alt="" class="cover"/>
  <!--{custom}-->
  <footer b:show="{comments}">{comments}</footer>
</section>
