<div>
  <header class="caption">
    <h1>Shower Presentation Engine</h1>
    <p>Yours Truly, Famous Inc.</p>
  </header>
  <section class="slide">
    <h2 class="shout">Simple shout</h2>
  </section>
  <section class="slide">
    <h2 class="shout shrink">You can even shout this way</h2>
  </section>
  <!--{childNodesHere}-->
</div>
