<ol>
  <li>Simple lists are marked with bullets</li>
  <li>Ordered lists begin with a number</li>
  <li>You can even nest lists one inside another
    <ul>
      <li>Or mix their types</li>
      <li>But do not go too far</li>
      <li>Otherwise audience will be bored</li>
    </ul>
  </li>
  <li>Look, seven rows exactly!</li>
</ol>
