<ol>
  <li>Lets you reveal list items one by one</li>
  <li class="next">To keep some key points</li>
  <li class="next">In secret from audience</li>
  <li class="next">But it will work only once</li>
  <li class="next">Nobody wants to see the same joke twice</li>
</ol>
