<ol>
  <li>Built on HTML, CSS and vanilla JavaScript</li>
  <li>Works in all modern browsers</li>
  <li>Themes are separated from engine</li>
  <li>Modular and extensible</li>
  <li>Fully keyboard accessible</li>
  <li>Printable to PDF</li>
</ol>
