<pre>
    <code class="next">&lt;html lang="en"&gt;</code>
    <code class="next"><mark>&lt;head&gt;</mark> <span class="comment">&lt;!--Comment--&gt;</span></code>
    <code class="next"> &lt;title&gt;Shower&lt;/title&gt;</code>
    <code class="next"> &lt;meta charset="<mark class="important">UTF-8</mark>"&gt;</code>
    <code class="next"> &lt;link rel="stylesheet" href="screen.css"&gt;</code>
    <code class="next"> &lt;script src="script.js"&gt;&lt;/script&gt;</code>
    <code class="next"><mark>&lt;/head&gt;</mark></code>
</pre>
