    <pre>
      <code>&lt;html lang="en"&gt;</code>
      <code class="mark">&lt;head&gt; <span class="comment">&lt;!--Comment--&gt;</span></code>
      <code>  &lt;title&gt;Shower&lt;/title&gt;</code>
      <code>  &lt;meta charset="<mark class="important">UTF-8</mark>"&gt;</code>
      <code>  &lt;link rel="stylesheet" href="screen.css"&gt;</code>
      <code>  &lt;script src="script.js"&gt;&lt;/script&gt;</code>
      <code class="mark">&lt;/head&gt;</code>
    </pre>
