<div>
    <ol>
      <li>Ennui keffiyeh thundercats</li>
      <li class="next">Jean shorts biodiesel</li>
      <li class="next">Terry richardson, swag blog</li>
      <li class="next">Locavore umami vegan helvetica</li>
      <li class="next">Fingerstache kale chips</li>
    </ol>
    <p class="next">Before they sold out master</p>
</div>
