<div>
      <ul lang="en">
      <li>Occupy locavore blog, mustache you probably haven't heard of them</li>
      <li>Skateboard pork belly aesthetic hoodie selfies brunch</li>
      <li>Food truck gluten-free disrupt Portland</li>
    </ul>
    <ul lang="ru">
      <li>Helvetica narwhal drinking vinegar chillwave, post-ironic ennui</li>
      <li>Cray pug paleo retro, Echo Park narwhal Wes Anderson</li>
      <li>Disrupt Williamsburg fixie, shabby chic bicycle rights hashtag kogi</li>
    </ul>

</div>
