    <ol>
      <li>Literally viral vegan, ugh drinking vinegar photo booth</li>
      <li>Wes Anderson chillwave Marfa pour-over Etsy banh mi</li>
      <li>Ethnic polaroid lo-fi iPhone ennui
        <ul>
          <li>Yr wayfarers before they sold out Kickstarter asymmetrical</li>
          <li>Irony flexitarian readymade quinoa, kogi bespoke meggings narwhal</li>
          <li>Skateboard Etsy twee artisan Echo Park</li>
        </ul>
      </li>
      <li>Tonx kitsch fingerstache readymade, retro single-origin coffee</li>
    </ol>
