<pre><code>&lt;html lang="en"&gt;
<mark>&lt;head&gt;</mark> <span class="comment">&lt;!--Comment--&gt;</span>
  &lt;title&gt;Shower&lt;/title&gt;
  &lt;meta charset="<mark class="important">UTF-8</mark>"&gt;
  &lt;link rel="stylesheet" href="screen.css"&gt;
  &lt;script src="script.js"&gt;&lt;/script&gt;
<mark>&lt;/head&gt;</mark></code></pre>
