<div>
      <blockquote>
      <p>Flannel bicycle rights locavore selfies skateboard. Authentic fanny pack paleo four loko bespoke. Artisan tattooed chia XOXO ennui, lomo disrupt 8-bit art party Tumblr scenester.</p>
    </blockquote>
    <figure>
      <blockquote>
        <p>Post-ironic fashion axe flexitarian, Tonx narwhal messenger bag Tumblr. Portland gentrify deep v kale chips literally.</p>
      </blockquote>
      <figcaption>Yours Truly</figcaption>
    </figure>

</div>
