    <table class="striped">
    <tr>
      <th scope="col">Gentrify</th>
      <th>Twee</th>
      <th>Artisan</th>
      <th>Banksy</th>
    </tr>
    <tr>
      <th scope="row">Messenger</th>
      <td>Mixtape</td>
      <td>Small batch</td>
      <td>Bicycle rights</td>
    </tr>
    <tr>
      <th scope="row">Meggings</th>
      <td>Freegan</td>
      <td>Retro biodiesel</td>
      <td>Slow-carb</td>
    </tr>
    <tr>
      <th scope="row">Vegan</th>
      <td>Occupy</td>
      <td>Normcore</td>
      <td>Put a bird on it</td>
    </tr>
    <tr>
      <th scope="row">Next level</th>
      <td>Selfies</td>
      <td>Sustainable</td>
      <td>Organic</td>
    </tr>
    <tr>
      <th scope="row">Umami</th>
      <td>Asymmetrical</td>
      <td>Keytar</td>
      <td>Craft beer</td>
    </tr>
    <tr>
      <th scope="row">Biodiesel</th>
      <td>Haven’t heard</td>
      <td>Skateboard</td>
      <td>Farm-to-table</td>
    </tr>
    </table>
